<form action="/listings/new" method="post">
  <input type="text" name="title" />
  <input type="text" name="description" />
  <input type="number" name="price" />
  <input type="submit" value="Submit" />
</form>