<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= @listing.title %> </title>
</head>
<body>
  <h1> <%= @listing.title %> </h1><br>
  <h1> <%= Date.parse(@listing.available_night).strftime("%m/%d/%Y") %> </h1>
</body>
</html>
