<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h1> Let's add some dates </h1>
    <form action="/listings/availability/<%= @listing.id %>" method="post">
      <input type="date" name="available_night">
      <input type="submit" value="Add date">
    </form>
    <form action="/listings" method="get">
      <input type="submit" value="Finish">
    </form>
</body>
</html>
